*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-block-size: 100vh;
  line-height: 1.5;
  font-family: "Poppins", serif;
  color: #4D4F62;
  background-color: #fafafa;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
  margin-block: 2rem;
  gap: 4rem;
}
@media (min-width: 70rem) {
  .main-container {
    margin-block: 0rem;
  }
}
@media (min-width: 70rem) and (max-height: 45rem) {
  .main-container {
    gap: 1rem;
  }
}

.header-container {
  max-inline-size: 19.5rem;
}
.header-container h1,
.header-container h2 {
  font-size: 1.5rem;
  letter-spacing: 0.17px;
  text-align: center;
}
.header-container h2 {
  font-weight: 200;
}
.header-container h1 {
  font-weight: 600;
  margin-block-end: clamp(0.1rem, 0.1rem + 1vh, 0.9rem);
}
.header-container p {
  font-size: 0.9rem;
  letter-spacing: 0.1px;
  line-height: 1.66;
  text-align: center;
  font-weight: 400;
  opacity: 50%;
}
@media (min-width: 70rem) {
  .header-container {
    max-inline-size: 69rem;
  }
  .header-container h1,
  .header-container h2 {
    font-size: 2.25rem;
    letter-spacing: 0.25px;
  }
  .header-container p {
    max-inline-size: 58ch;
    margin-inline: auto;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-inline-size: 19.5rem;
  block-size: auto;
}
.cards__card {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
  box-shadow: -1px 15px 33px -13px rgba(0, 0, 0, 0.26);
}
.cards__card__border {
  position: absolute;
  inline-size: 100%;
  block-size: 0.25rem;
}
.cards__card .border-supervisor {
  background-color: #44D3D2;
}
.cards__card .border-team-builder {
  background-color: #EA5454;
}
.cards__card .border-karma {
  background-color: #FCAE4A;
}
.cards__card .border-calculator {
  background-color: #549EF2;
}
.cards__card__content {
  padding: 1.9rem;
}
.cards__card__content__title {
  font-size: 1.25rem;
  font-weight: 600;
}
.cards__card__content__description {
  font-size: 0.8rem;
  opacity: 50%;
  letter-spacing: 0.09px;
  margin-block-start: 0.6rem;
  line-height: 1.75;
}
.cards__card__content img {
  margin-block-start: 1rem;
  inline-size: 57px;
  block-size: 57px;
  margin-inline-start: auto;
}
@media (min-width: 70rem) {
  .cards__card__content img {
    inline-size: 64px;
    block-size: 64px;
    /*                margin-block-start: 2.6rem; */
  }
}

@media (min-width: 70rem) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: "cyan red blue" "cyan orange blue";
    max-inline-size: 1110px;
    inline-size: 100%;
  }
  .cards .cyan {
    align-self: center;
    grid-area: cyan;
  }
  .cards .red {
    grid-area: red;
  }
  .cards .orange {
    grid-area: orange;
  }
  .cards .blue {
    align-self: center;
    grid-area: blue;
  }
}

/*# sourceMappingURL=styles.css.map */
