$red: #EA5454;
$cyan: #44D3D2;
$orange: #FCAE4A;
$blue: #549EF2;
$very-dark-blue: #4D4F62;
$grayish-blue: #a3a5ae;
$very-light-gray: #fafafa;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-block-size: 100vh;
    line-height: 1.5;
    font-family: "Poppins", serif;
    color: $very-dark-blue;
    background-color: $very-light-gray;
}

img,
picture {
    max-width: 100%;
    display: block;
}

.main-container {
    display: grid;
    grid-column: 1;
    min-block-size: 100vh;
    place-content: center;
    padding-block: clamp(1rem, calc(1rem + 1.5vh), 4rem);
    gap: 4rem;
}

.header-container {
    max-inline-size: 311px;

    h1,
    h2 {
        font-size: 1.5rem;
        letter-spacing: 0.17px;
        text-align: center;
    }

    h2 {
        font-weight: 200;

    }

    h1 {
        font-weight: 600;
        margin-bottom: 0.9rem;
    }

    p {
        font-size: 0.9rem;
        letter-spacing: 0.1px;
        line-height: 1.66;
        text-align: center;
        font-weight: 400;
        opacity: 50%;
    }

    @media (min-width: 70rem) {
        max-inline-size: 1110px;

        h1,
        h2 {
            font-size: 2.25rem;
            letter-spacing: 0.25px;
        }

        p {
            max-inline-size: 58ch;
            margin-inline: auto;
        }
    }
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-inline-size: 311px;
    block-size: auto;
    background-color: white;

    &__card {
        position: relative;
        border-radius: 0.5rem;
        overflow: hidden;

        box-shadow: -1px 18px 33px -13px rgba(0,0,0,0.26);


        &__border {
            position: absolute;
            inline-size: 100%;
            block-size: 0.25rem;
        }

        .border-supervisor {
            background-color: $cyan;
        }

        .border-team-builder {
            background-color: $red;
        }

        .border-karma {
            background-color: $orange;
        }

        .border-calculator {
            background-color: $blue;
        }

        &__content {
            padding: 1.9rem;

            &__title {
                font-size: 1.25rem;
                font-weight: 600;
            }

            &__description {
                font-size: 0.8rem;
                opacity: 50%;
                letter-spacing: 0.09px;
                margin-block-start: 0.6rem;
                line-height: 1.75;
            }

            img {
                margin-block-start: 1rem;
                inline-size: 57px;
                block-size: 57px;
                margin-inline-start: auto;

                @media (min-width: 70rem) {
                inline-size: 64px;
                block-size: 64px;
                margin-block-start: 2.6rem;
                }
            }


        }



    }


}


@media (min-width: 70rem) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas: "cyan red blue" "cyan orange blue";
        max-inline-size: 1110px;
        inline-size: 100%;

        .cyan {
            align-self: center;
            grid-area: cyan;
        }

        .red {
            grid-area: red;
        }

        .orange {
            grid-area: orange;
        }

        .blue {
            align-self: center;
            grid-area: blue;
        }
    }


}